*{
    margin: 0%;
    padding: 0%;
}

@import url('https://fonts.googleapis.com/css2?family=Tauri&display=swap');

body{

    width: 100%;
    min-height: 100vh;
}

/* Cabeçalho */
header{

    width: 100%;
    height: 65px;
    z-index: 2;
    position: sticky;
    top: 0;
}

ul{

    background-image: linear-gradient(to left,
   #468ebd,#301934
    );
    height: 80px;
}

li{

    display: inline-block;
    margin-left: 2.2%;
}

li a{

    color: white;
    text-decoration: none;
    padding: 20px;
    font-size: 18px;
    margin-top: 5.5%;
}

.login{

    float: right;
    margin-right: 3%;
    margin-top: 1.0%;
}

.logo_A img{

    width: 45px;
    height: 35px;
}

.menu{

    background-image: linear-gradient(169deg,
   #301934,#468ebd
    );
    position: absolute;
    box-shadow: 0 0 5px black;
    display: none;

}

.menu a{

    display: block;
    color: rgb(249, 245, 245);
    text-align: center;
}

.drop:hover .menu{
    display: block;
}

li a, .dropicone{
    display: inline-block;
    padding: 14px 16px;
    text-decoration: none;
    text-align: center;
}

li .drop{

    display: inline-block;
}

/*Sessão do video e d+ elementos*/

section{

    width: 100%;
    height: 91.7vh;
    position: relative;
}

section .background{

    width: 100%;
    height: 100%;
    position: absolute;
}

section .background video{

    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

section .logo{

    width: 50%;
    position: relative;
    display: flex;
    z-index: 1;
    margin-left: 31.3%;
}

section .logo img{

    width: 75%;
    min-width: 300px;
}

section .texto{

    width: 20%;
    position: relative;
    display: flex;
    z-index: 1;
    margin-left: 43.1%;
}

section .texto h2{

    margin-top: 50%;
    color: white;
    font-size: 14pt;
}

section .botao{

    margin-top: 2%;
    margin-left: 44%;
    z-index: 1;
    position: relative;
    display: flex;
}

section .botao a{

    background-image: linear-gradient(to right,
    #7B0D1E,
    #7B0D1E
     );
    color:white;
    width: 200px;
    height: 50px;
    font-size: 18pt;
    padding-top: 20px;
    text-align: center;
    border-radius: 8px;
    text-decoration: none;    
}

section .botao a:hover{

    background-image: linear-gradient(to right,
    #301934,#468ebd
     );
}

.menu-inferior{

    background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0));
    width: 100%;
    height: 72px;
    margin-top: 10%;
    z-index: 1;
    position: relative;
    display: flex;
}

.botao-pause {

    margin-top: 2%;
    margin-left: 46.4%;
    position: absolute;
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.botao-pause:hover {

    color: #cd7f32;
}

section .menu-inferior img{

    width: 130px;
    height: 38px;
    margin-left: 84%;
    margin-top: 12%;
}

.menu-inferior h3{

    width: 175px;
    height: 5px;
    color: white;
    margin-left: -2.7%;
    margin-top: -1%;
}

section .email{

    margin-left: 55%;
}

section .email label{

    color: azure;
    font-size: 18px;
}

section .email input{

    width: 372px;
    height: 35px;
    font-size: 19px;
}