@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&family=Grandiflora+One&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

*{
    margin: 0%;
    padding: 0%;
}

body{
    
    width: 100%;
    min-height: 100vh;
}

html{
    scroll-behavior: smooth;
}

/* Cabeçalho */
header{ 

    width: 100%;
    height: 75px;
    background-image: linear-gradient(to left, #468ebd,#301934);
    z-index: 2;
    position: sticky;
    top: 0;
}

li{

    display: inline-block;
    margin-left: 2.2%;
}

li a{

    color: white;
    text-decoration: none;
    padding: 20px;
    font-size: 18px;
    margin-top: 5.5%;
}

.login{

    float: right;
    margin-right: 3%;
    margin-top: 1.0%;
}

.logo_A img{

    width: 45px;
    height: 35px;
}

.menu{

    background-image: linear-gradient(169deg,#301934,#468ebd);
    position: absolute;
    box-shadow: 0 0 5px black;
    display: none;
}

.menu a{

    display: block;
    color: rgb(249, 245, 245);
    text-align: center;
}

.drop:hover .menu{

    display: block;
}

li a, .dropicone{

    display: inline-block;
    padding: 14px 16px;
    text-decoration: none;
    text-align: center;
}

li a:hover{

    background: #cd7f32;
}

/*Seção do video e d+ elementos*/

section{
    
    width: 100%;
    height: 91.7vh;
    position: relative;
}

section .background{

    width: 100%;
    height: 100%;
    position: absolute;
}

section .background video{

    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

section .logo{

    width: 50%;
    position: relative;
    display: flex;
    z-index: 1;
    margin-left: 31.3%;
}

section .logo img{

    width: 75%;
    min-width: 300px;
}

section .texto{

    width: 20%;
    position: relative;
    display: flex;
    z-index: 1;
    margin-left: 43.1%;
}

section .texto h2{

    margin-top: 50%;
    color: white;
    font-size: 14pt;
}

section .botao{

    margin-top: 2%;
    margin-left: 44%;
    z-index: 1;
    position: relative;
    display: flex;
}

section .botao a{

    background-image: linear-gradient(to right, #7B0D1E, #7B0D1E);
    color:white;
    width: 200px;
    height: 50px;
    font-size: 18pt;
    padding-top: 20px;
    text-align: center;
    border-radius: 8px;
    text-decoration: none;    
}

section .botao a:hover{

    background-image: linear-gradient(to right, #cd7f32,#cd7f32);
    transform: scale(0.9);
}

.menu-inferior{

    background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0));
    width: 100%;
    height: 72px;
    margin-top: 10%;
    z-index: 1;
    position: relative;
    display: flex;
}

.botao-pause {

    margin-top: 2%;
    margin-left: 46.4%;
    position: absolute;
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.botao-pause:hover {

    color: #cd7f32;
}

section .menu-inferior img{

    width: 130px;
    height: 38px;
    margin-left: 84%;
    margin-top: 12%;
}

.menu-inferior h3{

    width: 175px;
    height: 5px;
    color: white;
    margin-left: -2.7%;
    margin-top: -1%;
}

section .email{

    margin-left: 55%;
    color: white;
    font-size: 18px;
}

section .email input{

    width: 372px;
    height: 35px;
    font-size: 19px;
}

/* Seção dos tópicos */
.espaco{

    background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5) 50%, rgba(9, 8, 8, 0.923));
    width: 100%;
    height: 72px;
    margin-top: -1px;
    z-index: 1;
}

.banner{

    width: 100%;
    height: 100%; 
    position: absolute;
}

.banner img{

    width: 100%;
    height: 100vh;
    margin:0;
}

.container1{

    max-width: 1080px;
    height: 100%;
    z-index: 1;
    position: relative;
}

.container1 h2,h4{

    height: 10%;
    font-size: 80px;
    font-family: "Grandiflora One", cursive;
    color: #7B0D1E ;
    margin-top: 8%;
    margin-left: 56%;
}

.container1 p{
 
    width: 100%;
    font-size: 26px;
    font-family: "Roboto Flex", sans-serif;
    color: rgb(249, 246, 246);
    margin-top: 10%;
    margin-left: 20%;
}


#historia .container1 h2{

    width: 88%;
    margin-left: 25.6%;
    padding-top: 5%;
}

.ornamento{

   width: 100%;
   height: 290px;
   margin-top: -14%;
   margin-left: 20%;
   transform: rotate(180deg);
}

.lores{

    z-index: 1;
    display: flex;
    width: 100%;
    height: 100%;
    margin-top: 8.9%;
}

.lores h2{
    margin-top: 7%;
    width: 100%;
    margin-left: 25%;
    color: #7B0D1E ;
}

#inscricao .botao-assinar{

    margin-top: 6%;
    margin-left: 10%;
    z-index: 1;
    position: relative;
    display: flex;
}

#inscricao .botao-assinar a{

    background-color:  #7B0D1E;
    color:white;
    width: 200px;
    height: 50px;
    font-size: 18pt;
    padding-top: 20px;
    text-align: center;
    border-radius: 8px;
    text-decoration: none; 
}

#inscricao .botao-assinar a:hover{

    background-color: #cd7f32;
    transform: scale(0.9);
}

.redes img{

    width: 50px;
    margin-left: 14%;
}


/*Carrossel de fotos*/

.container-slider {
    display: flex;
    width: 50%;
    min-height: 30%;
    margin-top: 20%;
    margin-left: 80%;
    gap: 1rem;
  }
  
  .container-images {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 950px;
  }
  
  .slider, .slide {
    opacity: 0;
    transition: opacity .2s;
    position: absolute;
    width: 100%;
    border-radius: 10px;
  }
  
  .on {
    opacity: 1;
  }
  
  #prev-button, #next-button, #prev, #next {
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  
  #prev-button img, #next-button img, #prev img, #next img{
    width: 100%;
    height: 100%;
  }
  
  #prev-button, #prev{
    transform: rotate(180deg);
  }